.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-grow: 1;
  padding: 10px;
  background-color: #3b3c3d;
  justify-content: space-between;
  align-items: center;
}

.routes-container {
  display: flex;
  flex-direction: row;
}